.form-login div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
main{background-color:#FFF5E0;}

.form-login div input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
}

.form-pass {
    position: relative;
    display: inline-block;
}

.form-pass .input-pass {
    padding-right: 30px;
    width: 90%;
}
.check{
    width: 15vw !important;
    color: #bb2525;
 }

.form-pass .fa-solid {
    cursor: pointer;
    position: absolute;
    color: #bb2525;
    right: 20px;
}
.error-message{
    color: #bb2525;
}
h2{background-color: #eb4f4f;;
width: 100%;
height: 5vh;
align-content: center;
text-align: center;}
.form-register label {
    display: none;
}

.form-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-wrap: nowrap;
    color: #141E46;
    padding: 0px;
    margin: 10px;
    width: 100%;
}

.form-login h2{
    margin: 15px;
    color: #FFF5E0;
}

.btn-register {
    padding: 10px;
    margin: 10px;
    width: 50%;
    border-radius: 25px;
    border: none;
    color: #FFF5E0;
    font-weight: lighter;
    background-color: #eb4f4f;
    box-shadow: inset -1px -1px 3px #201f1f
}
.btn-register:hover{
    background-color: #bb2525;
    box-shadow:inset 0 -1px 3px #201f1f;
    transform: scale(1.5s);
}

@media (min-width: 768px) {

    .form-login {

        margin: 30px;;
        width: 610px;
    }
    .form-login div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    
    .form-login label {
        display: block;
        width: 150px;
        text-align: right;
       
    }

    .form-pass .fa-solid {
        cursor: pointer;
        position: absolute;
        color: #bb2525;
        right: 15px
    }

    .btn-register {
        width: 225px;
    }

    .form-register div input::placeholder {
        color: transparent;
    }
}