
.product-details-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 90%;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
}

.img-container {
    overflow: hidden;
    position: relative; /* Para posicionar las miniaturas dentro del contenedor */
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.thumbnail-container {
    display: flex;
    justify-content: space-between;
    position: absolute; /* Posiciona las miniaturas en relación con el contenedor principal */
    bottom: 0; /* Alinea las miniaturas en la parte inferior del contenedor */
    left: 50%; /* Centra las miniaturas horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición horizontal centrada */
}

.thumbnail {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    width: 30px; /* Ajusta el ancho de las miniaturas según sea necesario */
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.nameProduct {
    margin-bottom: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: column;
}

.price-add-to-cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price-add-to-cart p {
    margin-bottom: 5px;
}

.price-add-to-cart button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.price-add-to-cart button:hover {
    background-color: #45a049;
}

.specifications {
    margin-top: 20px;
}

.specifications h3 {
    margin-bottom: 10px;
}

.specifications ul {
    list-style-type: none;
    padding: 0;
}

.specifications li {
    margin-bottom: 5px;
}


