*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;

}

.header-top{
    height: 190px;
    background-color: aqua;
}

.logo-busqueda{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.logo-busqueda img{
    width: 100px;
    
}

input.input{
    padding-right: 2.5rem;
  }

.lupa{
    position: absolute;
    display: block;
    bottom: .5rem;
    right: 1rem;
    
    user-select: none;
    cursor: pointer;
}

.barra-busqueda{
    position: relative;
}

.usuario{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.main-navbar{
    font-size: 35px;
    text-align: center;

}

.menu-desplegable {
    display: none;
    z-index: 100;
    position: relative;
}

.menu-desplegable ul{
    list-style: none;
}

.submenu-cartuchos {
    display: none;
}

.main-navbar:hover > .menu-desplegable {
    display: block;
    transition: all 3s;
    background-color: rgba(0,0,0, 0.5)
    
}

.cartuchos:hover > .submenu-cartuchos {
    display: block;
}

@media (min-width: 768px) {
    .header-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px;
        align-items: center;
    }

    .logo-busqueda{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        order: 0;
    }

    .main-navbar{
        order: 1;
        
    }

    .usuario{
        order: 2;
    }

    .usuario i{
        padding: 10px;
    }

    .menu-desplegable {
        position: absolute;
        left: 70px;
        top: 120px;
        float: left;
    }
}