*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between ;

}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #faf6ed;
}

.header-top{
    height: 15vh;
    background-color: #141E46;
    color: #bb2525;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 1px #141E46; 
}

.iconos{
    display: flex;
}
.logo-busqueda{
    padding: 5px;
    display: flex;
    margin-left: auto;
    align-items: center;
    width: 100%;
    justify-content: space-around;
   
}

.logo-busqueda img{
    height: 8vh;
    margin-right: 8px;
    
}

.barra-busqueda{
    background-color: white;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
}

.barra-busqueda .input{
    border: none;
    background-color: white;
    padding-right: 2px;

}
.barra-busqueda input{
    max-width: 120px;
}

.barra-busqueda input:focus {
    outline: none;
}


.usuario{
    display: inline;
    font-size: 30px;
    text-decoration: none;
    justify-content: space-around;
    position: absolute;
    right: 10px;

 
}

.usuario i {
    font-size: 25px;
    padding: 5px;
    display: inline-block;
}

.main-navbar{
    font-size: 35px;
    margin-left: 10px;
    display: inline;

}

.menu-desplegable {
    display: none;
    z-index: 100;
    position: absolute;
    right: 0px;
    transition: all 0.5s;
    width: 100%;
    
}

.menu-desplegable ul{
    list-style: none;
}

.submenu-cartuchos {
    display: none;
    
}


.open-menu {
    display: block;
    transition: all 3s;
    background-color: rgba(10, 15, 35, 0.95);
    
}

.cartuchos:hover > .submenu-cartuchos {
    display: block;
}

footer{
    display: flex;
    padding: 10px;

    height: 260px;

    /* ACABO DE CAMBIAR
    height: 25vh;*/

    background-color: #141E46;
    color: #BB2525;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    /* ACABO DE CAMBIAR 
    font-size: smaller;
    text-align: center;*/

}
/* AGREGADO SABADO 8 JUNIO */
span.footer-titulo {
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 2.05;
}

/*.footer-iconos {
    justify-content: space-evenly;
}*/

.footer-accesos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* HASTA ACÁ */

.is-divider{
    background-color: #FFF5E0;
    display: block;
    height: 3px;
    margin: 1em 0;
    width: 50%
}


.footer-redes i{
    
    color: #FFF5E0;
    font-size: 20px;
    margin-bottom: 5px;
}

main{
    margin-top: 15vh;
    background-color: #FFF5E0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-accesos a{
    text-decoration: none;
    color: #FFF5E0;
}

section{
    width: auto;
}
.banner-informativo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(193, 193, 193);
    text-align: center;
    color: #FFF5E0;
    box-shadow: 0px 0px 2px 1px rgb(193, 193, 193);
}

.banner-informativo-article i{
    font-size: 50px;
    color:#eb4f4f;
    padding-top: 5px;
    margin-top: 10px;
}

.banner-informativo-article h3{
    padding: 15px;
}

.banner-informativo-article p{
    padding: 10px 5px 10px 5px;
    font-weight: 500;
}

.index-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 100%;
}

.index-productos-descripcion{
    text-align: center;
}

section div h1{
    text-align: center;
}
.index-article{
    padding: 5px;
    background-color: #eb4f4f;
    color:#FFF5E0
}

.index-productos article{
    flex-basis: 100%;
    margin: 10px;
    margin-bottom: 30px;
    max-width: 400px;
    background-color: white;
    box-shadow: 0px 0px 2px 1px #eb4f4f;

}

.index-productos article:hover{
    box-shadow: 0px 0px 2px 2px #eb4f4f;
}

.index-producto-precio-descuento{
    padding-left: 20px;
}

.index-producto-img img{
    display: block;
    margin: auto;
    max-width: 100%; 
    max-height: 250px;
    
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eb4f4f;
    color: #FFF5E0;
    height: 8vh;
    width: 100%;
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.productos-destacados h1{
    margin: 20px 0px;
}

.ofertas h1{
    margin: 20px 0px;
}


ul li {
    margin: 5px 0px;
    font-size: 30px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #BB2525;
}

@media (min-width: 375px) {
    .barra-busqueda input{
        max-width: 250px;
    }
    


}

@media (min-width: 768px) {
    .header-top{
        display: flex;
        flex-wrap: wrap;
      
        height: 15vh;
    }

    section{
        width: 90%;
    }

    .logo-busqueda{
        flex-direction: row;
        
        align-items: center;
        margin-left: 10px;
    
    }

    .main-navbar{
        padding-bottom: 0px;
        margin-right: 20px;   
    }


    .barra-busqueda input{
        width: 220px;
        margin-left: 3px;
    }

    ul li {
        margin: 5px 0px;
        font-size: 20px;
        font-weight: bold;
    }
    ul li:hover {
        box-shadow: 0px 0px 5px 5px black;
    }

    .usuario{
        position: absolute;
        right: 10px;
        bottom: 0px;
    }

    .usuario i{
        padding: 10px;
    }

    .menu-desplegable {
        position: absolute;
        left: 10px;
        top: 100px;
        float: left;
        width: 250px;
    }
    
    .submenu-cartuchos{
        position: absolute;
        left: 250px;
        top: 0px;
        float: left;
        width: 200px;
        transition: all 3s;
        background-color: rgba(10, 15, 35, 0.95);
        border: 1px solid black;
    }
    .banner{
        height: 6vh;
    }
    
    .index-productos article{
        flex-basis: 40%;
    }
    .index-producto-img img{
        width: 350px;
        height: 200px;
        object-fit: contain;
    }

    footer{
        height: 15vh;
        display: block;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        padding: 15px;
        align-items: flex-start;
        bottom: 0;
        /*ACABO DE CAMBIAR
        position: fixed;*/
        width: 101%;
        height: 200px;
    }
    /*  AGREGADO SAB 8 JUNIO  */
    .footer-iconos {
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    .footer-container{
        display: flex;
    }
    
    .footer-info{
        flex-basis: 50%;
        max-width: 40%;
        flex-direction: column;
        align-self: left;
        text-align: center;
    }

    .footer-redes{
        flex-basis: 50%;
        max-width: 30%;
    }

    .footer-titulo{
        letter-spacing: .05em;
        line-height: 1.05;
        
    }
    footer p{
        width: 100vw;
    }

    .is-divider{
        background-color: #FFF5E0;
        display: block;
        height: 3px;
        margin: 1em 0;
        max-width: 30vw;
        width: 100%
    }

    .footer-accesos{
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer-redes i{
        color: #FFF5E0;
        padding: 10px 10px 10px 0px;
        font-size: 30px;
    }

    main{
        margin-top: 15vh;
    }

    .banner-informativo{
        flex-direction: row;
    }
    

    .banner-informativo-article h3{
        height: 75px;
    }

    .banner-informativo .borde-vertical{
        background-color: #FFF5E0;
        display: block;
        height: 170px;
        margin: 1em 0;
        width: 3px;
    }

    .logo-busqueda img{
        width: 180px;
        margin-right: 25px;
        margin-left: 10px;
    }
}
@media (min-width: 1024px){
    .logo-busqueda{
        justify-content: left;
        margin-left: 150px;

    }
}

@media (min-width: 1200px){

    .index-productos article{
        flex-basis: 20%
    }
  

    .index-producto-img img{
        width: 250px;
        height: 140px;
        object-fit: contain;
    }
}