/**{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

------head-----------

.header-top{
    height: 200px;
    background-color: rgb(20, 30, 70);
    color: rgb(187, 37, 37);
}

.logo-busqueda{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.logo-busqueda img{
    width: 100px;
    margin-bottom: 10px;
    
}

.barra-busqueda{

    background-color: white;
}

.barra-busqueda input{
    border: none;
}

.usuario{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.main-navbar{
    font-size: 35px;
    text-align: center;}

.menu-desplegable {
    display: none;
    z-index: 100;
    position: relative;
}

.menu-desplegable ul{
    list-style: none;
}

.submenu-cartuchos {
    display: none;
}

.main-navbar:hover > .menu-desplegable {
    display: block;
    transition: all 3s;
    background-color: rgba(0,0,0, 0.5)
    
}

.cartuchos:hover > .submenu-cartuchos {
    display: block;
}*/

/*------------main-----------------*/

button{
    border: none;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

.main-container{width: 90%;
    background-color: rgb(187, 37, 37);
    color: white; 
    margin:auto;
    padding: 20px;
    border: 3px solid rgb(20, 30, 70);
    border-radius: 30px;
}

.title-cart{ margin-left: 5px; justify-content: center; display: flex;}

.productos{
    margin: 7px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 25px;
    border-radius: 10px;
}

#prod_1{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.productos img{
    width: 80px;
    height: 80px;
    align-self: center;
}
#prod_1 li{
    flex-direction: column;
    list-style: none;
    margin-left: 10px;
}
.eliminar{
    color: white;
    font-size: 20px;
    position: relative;
    left: 90%;
    background-color: rgb(20, 30, 70);
    padding: 5px;
    border-radius: 5px;
    top: 17%;

}

.envio{margin: 7px;
    padding-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.envio label{font-size: 12px;display: block;
    font-weight: 500;
    padding-top: 6px;
    margin-left: 10px;
padding-bottom: 4px;}

    .envio input{width: 55vw;
      
    height: 25px;
    margin-left: 10px;
    }

.envio ::placeholder{font-size: 12px;}

 .envio p{font-size: 11px; margin-left: 10px;margin-right: 6px}

 .envio button{ background-color: rgb(20, 30, 70);
color: rgb(187, 37, 37);
height: 25px;
width: 20vw;
border-radius: 7px;
margin-left: 5px;
font-weight: 500;
font-size: 12px;
}

.flex-envio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.precioTotal{
    margin: 15px 7px;
    display: flex;
    flex-direction: column;

}

.product-info{
    font-size: 75%;
}

.suma{text-align: end; color: white;}

.total{color: rgb(20, 30, 70);}

.precioTotal .comprar{
    display: block;
    margin: 10px auto 5px;
    width: 85%;
    height: 25px;
    background-color: rgb(20, 30, 70);
color: rgb(187, 37, 37);
border-radius: 7px;
font-weight: 500;
font-size: 18px;
}

.agregar{display: flex;
    justify-content: center;
    padding-bottom: 10px;
color: rgb(187, 37, 37);}

.grid-carrito{
    display: flex;
    flex-direction: column;
    gap:30px;
}

/*------------footer-----------*/

@media (min-width: 768px) {
    .productos img{
        width: 100px;
        height: 100px;
    }
    .eliminar{
        font-size: 25px
    }

    #prod_1 li{
        font-size: 18px;
    }

    .envio input{
        width: 35vw;
    }

    .envio button{
        width: 100px;
        }

    .flex-envio{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    .grid-carrito{
            display: grid;
            grid-template-columns:1.5fr 2fr;
        }
    .container{
            height: 90vh;
        }
}