<footer>
    <div class="footer-info">
        <span class="footer-titulo">Info</span>
        <div class="is-divider"></div>
        <div class="footer-accesos">
            <a href="">Nosotros</a>
            <a href="">Politicas de seguridad</a>
            <a href="">Politicas de envíos</a>
        </div>
    </div>
    <div class="footer-redes">
        <span class="footer-titulo">Seguinos</span>
        <div class="is-divider"></div>
        <div class="footer-iconos">
            <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </div>
    <div class="copy">
        <strong>1UP</strong>
        - Todos los derechos reservados. 2024 ©
    </div>
</footer>