<header class="header-top">
    <div class="logo-busqueda">
        <a href="/"><img src="/img/logo-1UP.svg" alt="Logo de la página"></a>
        <form action="/search" method="GET">
            <div class="barra-busqueda">
                <input type="text" name ="keywords" class="input" placeholder="Buscar">
                <button class="input"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>

    <div class="usuario">
        <a href="/users/login"><i class="far fa-user"></i></a>
        <a href=""><i class="far fa-heart"></i></a>
        <a href="/users/productCart"><i class="fas fa-shopping-cart"></i></a>
    </div>

    <nav class="main-navbar">
        <i class="fas fa-bars"></i>
        <div class="menu-desplegable">
            <ul>
                <li>
                    CONSOLAS
                </li>
                <li>
                    <div class="cartuchos">
                        CARTUCHOS
                        <ul class="submenu-cartuchos">
                            <li><a href="#">Super Nintendo</a></li>
                            <li><a href="#">Sega</a></li>
                            <li><a href="#">Play Station 1</a></li>
                            <li><a href="#">Ver todos</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    ACCESORIOS
                </li>
                <li>
                    VARIOS
                </li>
            </ul>
        </div>
    </nav>
</header>