<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/404.css">
<head>
    <%- include('./partials/metaDatos') %>
        <title>Principal</title>
</head>

<body class="index-body">
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/style.css">
        <main>
            <h1>404 - P치gina no encontrada</h1>
            <img src="/img/error_404.jpg" alt="404">
            <p>Lo sentimos, la p치gina que est치s buscando no existe.</p>
            <a href="/">Volver a la p치gina de inicio</a>
        </main>

        <%- include('./partials/footer') %>

</body>

</html>