<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/metaDatos') %>
        <link rel="stylesheet" href="/css/registerStyle.css">
        <title>Document</title>
</head>

<body>

    <%- include('./partials/header') %>

    <main>
        <form action="/users/update" method="POST" class="form-register">
            <h2>EDITAR INFORMACION DE USUARIO</h2>
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
            </div>
            <div>
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Apellido" required>
            </div>
            <div>
                <label for="imagen">Imagen de perfil</label>
                <input type="file" name="image" id="image">
            </div>
            <div>
                <button type="submit" class="btn-update">Actualizar</button>
                <button type="submit" class="btn-delete">Eliminar</button>
            </div>
        </form>
    </main>

    <%- include('./partials/footer') %>

    <script>
        function mostrarContrasena(tipoId, iconId) {
            var tipo = document.getElementById(tipoId);
            var icon = document.getElementById(iconId);

            if (tipo.type == "password") {
                tipo.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                tipo.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>
</body>

</html>