<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Detalle de Producto</title>
</head>
<body>
    <header class="header-top">
        <div class="logo-busqueda">
            <img src="/img/logo-1UP.svg" alt="Logo de la página">
            <form action="#" method="GET">
                <div class="barra-busqueda">
                    <input type="password" class="input" placeholder="Buscar">
                    <span class="lupa"><i class="fa fa-search"></i></span>
                </div>
            </form>
        </div>

        <div class="usuario">
            <i class="far fa-user"></i>
            <i class="far fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
        
        <nav class="main-navbar">
            <i class="fas fa-bars"></i>
            <div class="menu-desplegable">
                <ul>
                    <li>
                       CONSOLAS
                    </li>
                    <li>
                        <div class="cartuchos">
                            CARTUCHOS
                            <ul class="submenu-cartuchos">
                                <li><a href="#">Super Nintendo</a></li>
                                <li><a href="#">Sega</a></li>
                                <li><a href="#">Play Station 1</a></li>
                                <li><a href="#">Ver todos</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        ACCESORIOS
                    </li>
                    <li>
                        VARIOS
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
       

    </main>
    
</body>
</html>