<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleCart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <title>1UP Carrito de Compras</title>
</head>
<body>
    <header class="header-top">
        <div class="logo-busqueda">
           <a href="/index"> <img src="/img/logo-1UP.svg" alt="Logo de la página"></a>
            <form action="#" method="GET">
                <div class="barra-busqueda">
                    <input type="password" class="input" placeholder="Buscar">
                    <span class="lupa"><i class="fa fa-search"></i></span>
                </div>
            </form>
        </div>

        <div class="usuario">
            <i class="far fa-user"></i>
            <i class="far fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
        
        <nav class="main-navbar">
            <i class="fas fa-bars"></i>
            <div class="menu-desplegable">
                <ul>
                    <li>
                       CONSOLAS
                    </li>
                    <li>
                        <div class="cartuchos">
                            CARTUCHOS
                            <ul class="submenu-cartuchos">
                                <li><a href="#">Super Nintendo</a></li>
                                <li><a href="#">Sega</a></li>
                                <li><a href="#">Play Station 1</a></li>
                                <li><a href="#">Ver todos</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        ACCESORIOS
                    </li>
                    <li>
                        VARIOS
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="title-cart"><h1>MIS COMPRAS</h1></div>

        <div class="productos">
            <ul>
                <li id="prod_1">
                    <img src="#" arc="prod_img">
                    <ul>
                        <li class="descripcion"><h4>Descripcion</h4></li>
                        <li class="cantidad">Cantidad:</li  >
                        <li class="precio">$     </li>
                    </ul>
                    <span class="eliminar"><i class="far fa-trash-alt"></i></span>
                </li>
            </ul>
        </div>
        <div class="envio">
            <h4>Envío</h4>
           <form action="/productCart" method="GET">
            <label for="envio">Código Postal</label>
            <input type="tel" name="cp" id="envio" placeholder="Código Postal">
            <button type="submit">Calcular</button>
            <p>* Se mostrará información de los posibles metodos de envío a la hora de ingresar un código postal válido.</p>
           </form>         
        </div>
        <div class="precioTotal">
            <h2>Total</h2>
            <h2 class="suma">$ 95.500,00</h2>
           <button type="submit" class="comprar">Comprar</button>
           <a class="agregar" href="/index">Agregar mas productos</a>
        </div>
        
    </main>
    <footer>

        
    </footer>